PORT=4000
DATABASE_URL=https://<project id>.firebaseio.com
TOKEN_EXPIRE_TIME=15d
JWT_SECRET=your_jwt_secret

#SMTP EMAIL CONFIG
EMAIL_FROM_ADDRESS==your-email@example.com
EMAIL_PASS=your-email-password
EMAIL_SMTP_USER=your-email@example.com
EMAIL_SMTP_DOMAIN=smtp.example.com
EMAIL_SMTP_PORT=587

ACCESS_CODE_EXPIRE_TIME=900000 #15 minutes
ACCESS_CODE_LENGTH=6
ACCESS_CODE_VERIFY_METHOD=EMAIL #EMAIL or SMS

#TWILIO CONFIG
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number